# OS  & ide
.DS_Store
.idea

# ignore node dependency directories & lock
node_modules
package-lock.json

# ignore log files and local
*.log
*.local

# ignore compiled files
dist
build


# track these files, if they exist
!.gitignore
!.editorconfig
!.vscode
